{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Django - PTA</title>
</head>
<body>
    <h1>Treinamento Django</h1>

    <h2>-- Serviços --</h2>
    {% for servico in servicos %}
    <h3>{{ servico.title }}</h3>
    <p>{{ servico.text }}</p>
    {% endfor %}

    <h2>-- Depoimentos --</h2>
    {% for depoimento in depoimentos %}
    <h3>{{ depoimento.name }}</h3>
    <p>{{ depoimento.url }}</p>
    <img src="{{ depoimento.image.url }}" alt="imagem de uma pessoa"/>
    {% endfor %}

</body>
</html>